<fieldset>
    <legend>{{localize "token-note-hover.SubtitleGeneral"}}</legend>
    <div class="form-group">
        <label
            for="flags.token-note-hover.pinIsTransparent">
            {{ localize "token-note-hover.PinIsTransparent"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.pinIsTransparent"
                data-dtype="Boolean" {{checked pinIsTransparent}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.showOnlyToGM">
            {{ localize "token-note-hover.ShowOnlyToGM"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.showOnlyToGM"
                data-dtype="Boolean" {{checked showOnlyToGM}}>
            </input>
        </div>
    </div>
    {{#if enableBackgroundlessPins}}
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.hasBackground">
            {{ localize "token-note-hover.HasBackground"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.hasBackground"
                data-dtype="Boolean" {{checked hasBackground}}>
            </input>
        </div>
    </div>
    {{else}}
    <hr>
    <div class="form-group">
        <p>{{ localize "token-note-hover.WarningBackgroundlessPins"}}</p>
    </div>
    {{/if}}
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.ratio">
            {{ localize "token-note-hover.HasBackgroundRatio"}}
        </label>
        <div class="form-fields">
            {{numberInput ratio name="flags.token-note-hover.ratio" step=0.1 min=1 max=10}}
        <!--
        <input
            type="text"
            name="flags.token-note-hover.ratio"
            data-dtype="Number"
            value="{{ratio}}" >
        </input>
        -->
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.numberWsSuffixOnNameplate">
            {{ localize "token-note-hover.NumberWsSuffixOnNameplateN"}}
        </label>
        <div class="form-fields">
            {{numberInput numberWsSuffixOnNameplate name="flags.token-note-hover.numberWsSuffixOnNameplate"}}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.textAlwaysVisible">
            {{ localize "token-note-hover.TextAlwaysVisible"}}
        </label>
        <div class="form-fields">
            <input type="checkbox"
                name="flags.token-note-hover.textAlwaysVisible"
                data-dtype="Boolean" {{checked textAlwaysVisible}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.hideLabel">
            {{ localize "token-note-hover.HideLabel"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.hideLabel"
                data-dtype="Boolean" {{checked hideLabel}} >
            </input>
        </div>
    </div>
    <!--
    <hr>
    <fieldset>
        <legend>{{localize "token-note-hover.SubtitleNoteGM"}}</legend>
        {{#if enableNoteGM}}

        {{else}}
        <div class="form-group">
            <p>{{ localize "token-note-hover.WarningNoteGM"}}</p>
        </div>
        {{/if}}
    </fieldset>
    <hr>
    -->
</fieldset>
<hr>
<fieldset>
    <legend>{{localize "token-note-hover.SubtitleTooltip"}}</legend>
    <div class="form-group">
        <label
            for="flags.token-note-hover.doNotShowJournalPreview">
            {{localize "token-note-hover.DoNotShowJournalPreview"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.doNotShowJournalPreview"
                data-dtype="Boolean" {{checked doNotShowJournalPreview}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.previewAsTextSnippet">
            {{localize "token-note-hover.PreviewAsTextSnippet" }}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.previewAsTextSnippet"
                data-dtype="Boolean" {{checked previewAsTextSnippet}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipCustomDescription">
            {{localize "token-note-hover.TooltipCustomDescription" }}
        </label>
        <div class="form-fields">
          <textarea name="flags.token-note-hover.tooltipCustomDescription">{{tooltipCustomDescription}}</textarea>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipShowDescription">
            {{localize "token-note-hover.TooltipShowDescription" }}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.tooltipShowDescription"
                data-dtype="Boolean" {{checked tooltipShowDescription}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipShowTitle">
            {{localize "token-note-hover.TooltipShowTitle" }}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.tooltipShowTitle"
                data-dtype="Boolean" {{checked tooltipShowTitle}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipPlacement">
            {{localize "token-note-hover.Tooltip.Placement.title" }}
        </label>
        <div class="form-fields">
            {{{tooltipPlacementHtml}}}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipColor">
            {{localize "token-note-hover.Tooltip.Color.title"}}
        </label>
        <div class="form-fields">
            {{{tooltipColorHtml}}}
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipForceRemove">
            {{localize "token-note-hover.Tooltip.ForceRemove.title"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.tooltipForceRemove"
                data-dtype="Boolean" {{checked tooltipForceRemove }} />
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipSmartPlacement">
            {{localize "token-note-hover.Tooltip.SmartPlacement.title"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.tooltipSmartPlacement"
                data-dtype="Boolean" {{checked tooltipSmartPlacement}} />
        </div>
    </div>
    <!--
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.tooltipFollowMouse">
            {{localize "token-note-hover.Tooltip.TooltipFollowMouset.title"}}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.tooltipFollowMouse"
                data-dtype="Boolean" {{checked tooltipFollowMouse}} />
        </div>
    </div>
    -->
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.showImage">
            {{ localize "token-note-hover.ShowImage" }}
        </label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.showImage"
                data-dtype="Boolean" {{checked showImage}}>
            </input>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label
            for="flags.token-note-hover.showImageExplicitSource"
            >{{ localize "token-note-hover.ShowImageExplicitSource"}}
        </label>
        <div class="form-fields">
            <img class="token-note-hover-explicit-icon" src="{{showImageExplicitSource}}" />
            <input
                type="text"
                name="flags.token-note-hover.showImageExplicitSource"
                title="{{localize "token-note-hover.ShowImageExplicitSource"}}"
                class="icon-path"
                value="{{showImageExplicitSource}}"
                placeholder="/icons/example.svg"
                data-dtype="String"
                {{#if noUploadFile}} readonly="true" {{/if}}
                >
            </input>
            {{#if yesUploadFile}}
                {{filePicker type="image" target="flags.token-note-hover.showImageExplicitSource"}}
            {{/if}}
        </div>
    </div>
</fieldset>
<hr>
<fieldset>
    <legend>{{localize "token-note-hover.SubtitlePlayerIconAutoOverride"}}</legend>
    {{#if enablePlayerIcon}}
    <!-- Button to Enable overrides -->
    <div class="form-group">
        <label> {{ localize "token-note-hover.UsePlayerIcon"}}</label>
        <div class="form-fields">
            <input
                type="checkbox"
                name="flags.token-note-hover.PlayerIconState"
                data-dtype="Boolean" {{checked playerIconState}} >
            </input>
        </div>
        <p class="notes">{{ localize "token-note-hover.PlayerIconHint"}}</p>
    </div>
    <!-- Player Icon -->
    <hr>
    <div class="form-group">
        <label>{{ localize "token-note-hover.PlayerIconPath"}}</label>
        <div class="form-fields">
            <img class="token-note-hover-journal-icon" src="{{playerIconPath}}" />
            <input type="text"
                name="flags.token-note-hover.PlayerIconPath"
                title="Icon Path"
                class="icon-path"
                value="{{playerIconPath}}"
                data-dtype="String" >
            </input>
            {{#if yesUploadFile}}
                {{filePicker type="image" target="flags.token-note-hover.PlayerIconPath"}}
            {{/if}}
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <p>{{ localize "token-note-hover.WarningPlayerIconAutoOverride"}}</p>
    </div>
    {{/if}}
</fieldset>
<hr>
<fieldset>
    <legend>{{localize "token-note-hover.SubtitleRevealedNotes"}}</legend>
    {{#if enableNoteTintColorLink}}
        <p>{{{ localize "token-note-hover.InfoRevealedNotes"}}}</p>
        <div class='form-group'>
            <label>{{ localize "token-note-hover.RevealedToPlayer"}}</label>
            <div class='form-fields'>
                <input
                    type='checkbox'
                    name='flags.token-note-hover.pinIsRevealed' {{checked pinIsRevealed}}>
                </input>
            </div>
        </div>
        <hr>
        <div class='form-group'>
            <label>{{ localize "token-note-hover.UseRevealState"}}</label>
            <div class='form-fields'>
                <input
                    type='checkbox'
                    name='flags.token-note-hover.usePinIsRevealed' {{checked usePinIsRevealed}}>
                </input>
            </div>
        </div>
    {{else}}
    <div class="form-group">
        <p>{{ localize "token-note-hover.WarningRevealedNotes"}}</p>
    </div>
    {{/if}}
</fieldset>
