#powerTip .token-note-hover-hud-container {
  overflow-y: scroll;
  max-height: 500px;
}

.token-note-hover-hud,
.token-note-hover-hud>img,
.token-note-hover-hud-v2,
.token-note-hover-hud-v2>img {
  border: none;
}

.token-note-hover-hud-h2 {
  /* Adjust as needed for H2 size */
  font-size: 1.5em;
  font-weight: bold;
  /* Default H2 margin */
  margin-top: 0.83em;
  /* Default H2 margin */
  margin-bottom: 0.83em;
  /* Headings are block-level elements */
  display: block;
}