#powerTip .token-note-hover-hud-container {
  overflow-y: scroll;
  max-height: 500px;
}

.token-note-hover-hud,
.token-note-hover-hud>img,
.token-note-hover-hud-v2,
.token-note-hover-hud-v2>img {
  border: none;
}

h1 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

h2 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

h3 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

h4 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

h5 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

h6 {
  color: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  border: inherit;
  font: inherit;
  font-size: revert;
}

p {
  color: inherit;
}